{% extends 'base.html' %}
{% block titulo %}Cadastro de Visita{% endblock %}

{% block body %}
<div class="container mt-5">
    <div class="text-center mb-4">
        <h2 class="fw-bold">Cadastro / Edição de Visita</h2>
        <p class="text-muted">Preencha as informações para agendar a visita do responsável.</p>

        <button type="button" class="btn btn-sm btn-outline-secondary btn-read-aloud"
        data-text="Cadastre a visita, selecionando o idoso e o responsavel, assim como a respectiva data.">
        <i class="bi bi-volume-up"></i>
        </button>

    </div>

    <form method="POST" class="shadow p-4 bg-white rounded">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Responsável</label>
            {{ form.responsavel }}
        </div>

        <div class="mb-3">
            <label class="form-label">Idoso</label>
            {{ form.idoso }}
        </div>

        <div class="mb-3">
            <label class="form-label">Data</label>
            {{ form.data }}
        </div>

        <div class="mb-3">
            <label class="form-label">Horário</label>
            {{ form.horario }}
        </div>

        <div class="mb-3">
            <label class="form-label">Observações</label>
            {{ form.observacoes }}
        </div>

        <button type="submit" class="btn btn-success">Salvar</button>
        <a href="{% url 'lista_visitas' %}" class="btn btn-secondary">Cancelar</a>
    </form>
</div>
{% endblock %}
